<!DOCTYPE html>
<html lang="en">

<head>
	<title>Build Genshin</title>
	<link rel="icon" href="images/icona.webp" />
	<meta charset="utf-8">
    <link rel="stylesheet" href="css/gilda.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/footer.css">

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body class="colore-sfondo">
	<%- include('navbar-noRIc.ejs') %>

    <div class="text-center">
        <div class="container">
            <form id="filtro-elemento" method="get" action="/gilda"><!--filtro a bottone per la ricercarca dei tipi di personaggio-->
                <div class="d-flex flex-wrap justify-content-center pt-4">
                    <button type="submit" name="lingua" class="btn-gilda btn-italia" value="Italiano"></button>
                    <button type="submit" name="lingua" class="btn-gilda btn-inglese" value="Inglese"></button>
                   <button type="submit" name="lingua" class="btn-gilda btn-giapponese" value="Giapponese"></button>
                    <button type="submit" name="lingua" class="btn-gilda btn-cinese" value="Cina"></button>
                    <button type="submit" name="lingua" class="btn-gilda btn-coreano" value="Coreano"></button>
                    <button type="submit" name="lingua" class="btn btn-outline-light ms-3" value="">Mostra tutti</button>
                </div>
            </form>
        </div>
    </div>
    <header>
        ⚔️ Scegli la tua Gilda in Genshin Impact ⚔️
    </header>
    <section class="gilde">
        <div class="container">
        <div class="row ">
            <div class="col-lg-3 col-md-6">
            <div class="gilda">
                <h2>Ordine di Favonius</h2>
                <p>Proteggi Mondstadt e i suoi abitanti con onore e giustizia.</p>
                <button>Scegli questa gilda</button>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
            <div class="gilda">
                <h2>Qixing di Liyue</h2>
                <p>Difendi la prosperità commerciale e culturale di Liyue.</p>
                <button>Scegli questa gilda</button>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
            <div class="gilda">
                <h2>Shogunato di Inazuma</h2>
                <p>Segui il cammino dell Eternità sotto la guida della Shogun Raiden.</p>
                <button>Scegli questa gilda</button>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="gilda">
                <h2>Shogunato di Inazuma</h2>
                <p>Segui il cammino dell Eternità sotto la guida della Shogun Raiden.</p>
                <button>Scegli questa gilda</button>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="gilde">
        <div class="container">
        <div class="row ">
            <div class="col-lg-3 col-md-6">
            <div class="gilda">
                <h2>Ordine di Favonius</h2>
                <p>Proteggi Mondstadt e i suoi abitanti con onore e giustizia.</p>
                <button>Scegli questa gilda</button>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
            <div class="gilda">
                <h2>Qixing di Liyue</h2>
                <p>Difendi la prosperità commerciale e culturale di Liyue.</p>
                <button>Scegli questa gilda</button>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
            <div class="gilda">
                <h2>Shogunato di Inazuma</h2>
                <p>Segui il cammino dell Eternità sotto la guida della Shogun Raiden.</p>
                <button>Scegli questa gilda</button>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="gilda">
                <h2>Shogunato di Inazuma</h2>
                <p>Segui il cammino dell Eternità sotto la guida della Shogun Raiden.</p>
                <button>Scegli questa gilda</button>
                </div>
            </div>
        </div>
    </div>
</section>
<button class="crea-gilda">Crea la tua gilda</button>
</body>