body {
	font-family: "Segoe UI", sans-serif;
	background: url("https://uploadstatic-sea.mihoyo.com/ys-obc/2020/10/16/fe54e51cdd8c6f7f6e93c8e5f0a06d52_1737066.png") no-repeat center center fixed;
	background-size: cover;
	margin: 0;
	padding: 0;
	color: white;
	text-align: center;
  }
  header {
	  padding: 20px;
	  font-size: 2em;
	  text-align: center;
	  margin-top: 80px;
  }
  .gilde {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 30px auto;
	gap: 20px;
  }
  .gilda {
	background: rgba(0,0,0,0.6);
	padding: 20px;
	border-radius: 15px;
	width: 300px;
	height: 250px;
	transition: 0.3s;
	cursor: pointer;
  }
  .gilda:hover {
	transform: scale(1.05);
	background: rgba(255,255,255,0.1);
  }
  .gilda img {
	width: 100%;
	border-radius: 10px;
  }
  button {
	
	padding: 10px 20px;
	border: none;
	border-radius: 10px;
	background: green;
	font-size: 1em;
	cursor: pointer;
  }
  button:hover {
	background: #ffaa00;
  }
  
.crea-gilda {

  width: 500px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: green;
  color: #000;
  font-size: 1.2em;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
  left: 50%;
  transform: translateX(-50%);
}

.crea-gilda:hover {
  background: #ffaa00;
}

.btn-gilda {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 10px;
    border: 3px solid transparent;
    transition: all 0.3s ease;
}

.btn-gilda:hover {
    transform: scale(1.1);
    border-color: white;
}

.btn-italia {
	background: url('/images/bandiere/italia.png') !important; 
	background-size: contain !important;
	background-repeat: no-repeat !important;
}
.btn-inglese {
	background: url('/images/bandiere/regnounito.png') !important; 
	background-size: contain !important;
	background-repeat: no-repeat !important;
}
.btn-giapponese {
	background: url('/images/bandiere/giappone.png') !important; 
	background-size: contain !important;
	background-repeat: no-repeat !important;
}
.btn-cinese {
	background: url('/images/bandiere/cina.png') !important; 
	background-size: contain !important;
	background-repeat: no-repeat !important;
}
.btn-coreano {
	background: url('/images/bandiere/corea.png') !important; 
	background-size: contain !important;
	background-repeat: no-repeat !important;
}