/* Filtro elementi */
/* Stile per la barra di ricerca */
.navbar-sfondo .form-control {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.navbar-sfondo .form-control::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.navbar-sfondo .btn-outline-light {
    border-color: rgba(255, 255, 255, 0.3);
    color: white;
}

.navbar-sfondo .btn-outline-light:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
.cerca{
    margin-left: 340px !important;
}

.btn-elemento {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 10px;
    border: 3px solid transparent;
    transition: all 0.3s ease;
}

.btn-elemento:hover {
    transform: scale(1.1);
    border-color: white;
}

.btn-elemento.active {
    border-color: gold;
    box-shadow: 0 0 15px gold;
}

.btn-pyro {
    background: url('/images/pyro.png') !important; 
    background-size: contain !important;
    background-repeat: no-repeat !important;
}

.btn-hydro {
    background: url('/images/hydro.png') !important; 
    background-size: contain !important;
    background-repeat: no-repeat !important;
}
.btn-electro {
    background: url('/images/electro.png') !important; 
    background-size: contain !important;
    background-repeat: no-repeat !important;
}
.btn-dendro {
    background: url('/images/dendro.png') !important; 
    background-size: contain !important;
    background-repeat: no-repeat !important;
}
.btn-cryo {
    background: url('/images/cryo.png') !important; 
    background-size: contain !important;
    background-repeat: no-repeat !important;
}
.btn-geo {
    background: url('/images/geo.png') !important; 
    background-size: contain !important;
    background-repeat: no-repeat !important;
}
.btn-anemo {
    background: url('/images/anemo.png') !important; 
    background-size: contain !important;
    background-repeat: no-repeat !important;
}
.scritta-pers{

    margin-top: 100px;
    text-align: center;
}
.im-personaggio {
    width: auto !important;
    height: 300px !important;
    object-fit: cover;
    transition: transform 0.3s ease;
    margin-top: 100px;
}
.im-personaggio:hover {
    transform: scale(1.1);
    border-color: white;
}

.character-name {
    font-size: 1.3rem;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
    width: 50% !important;
    margin-top: 50px;
}









@media (max-width: 768px) {
    .element-btn {
        width: 60px;
        height: 60px;
        margin: 0 5px;
    }
}