.navbar-style{
    margin:10px;
    color: beige !important;
}
.navbar-sfondo{
    background-color: rgb(16, 23, 41);
}
.colore-sfondo{
    background-color:rgb(2 0 136 / 78%);
}
.riga-titolo{
    text-align: center;
    background-image: url('/images/sfondo.webp');
    background-repeat: no-repeat;
    height: 350px;
    background-size: cover;
}
.titolo{
    margin-top: 150px !important;
}
.testo-paragrafo{
    background-size: cover;
    text-align: center;
    margin: 100px;
    text-transform: uppercase;
    color: beige;
    font-size: 20px;
}
.artefatti-style{
    color: beige;
}
